.header{
    text-align: center;
    padding: 20px;
    
}


h1{
    font-size: 36px;
    color: #eb8602;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body{
    margin: 20px;
}

ol{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}